/* Global Styles */

body 
{
    margin-top: 100px;
    background-color: #222;
    margin-left: 1%;
    margin-right: 1%;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}































#title
{
    position: absolute;
    text-align: center;
    font-size: 150%;
}



#map 
{
    height: 900px;
    width: 100%;
    display: inline-block;
}

#panel 
{
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    width: 15%;
    height: 880px;
   /* opacity: .85;*/
    background-color: #222222;
    border-radius: 5px;
    float: right;
    z-index: 1;
}

#range
{
    width: 70%;
    display: inline-block;
    text-align: center;

}

#sliderStuff
{
    text-align: center;
}


#forward 
{
    float: right;
}

#reverse 
{
    float: left;
}
.btn-cstm
{
    width: 100px;
    margin: 3px;
}




.panelText
{
    color: gray;
    display: inline-block;
}

.legend-control-container
{
/*    background-color: #CDD2D4;*/
    border-radius: 5px;
    border-color: 2px solid red;
}

.years
{
    width: 100px;
}



.blue
{
    color:'#046fb8';
}

/* Top Navigation */
.navbar-brand
{
    text-align: center;
}
.top-nav 
{
    padding: 0 15px;
}

.top-nav>li 
{
    display: inline-block;
    float: left;
}

.top-nav>li>a 
{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus 
{
    color: #fff;
    background-color: #000;
}





