#navBar
{
    background-color: #222222;
    opacity: .85; 
    border: solid 2px #2E8599; 
    border-radius: 5px;
    margin-left: 6px;
    margin-right: 6px;
}

#navBarBottom
{
    background-color: none;
    opacity: .85; 
}


#pageHeader
{
    color:  #2E8599;
    font-size: 150%;
}

#aboutButton
{
    color:  #2E8599;
}

#modalButton
{
    margin-top: .5%;
    background-color: #222222;
    color:  #2E8599;
    text-align: left;
}

#modalBody
{
    background-color: #e0e1e0;
}

#aboutButton:hover
{
    color: #16B4D8;
}

.modal-content
{
  border: solid 3px #3F3F3F; 
}

#opacityPanel
{
    margin-top: 59px;
    height: 52px;
    min-height: 52px;
    text-align: center;
}

#sliderPanel
{
    height: 250px; 
    clear: right;
    text-align: left;   
}

#buttonPanel
{
    height: 310px; 
    clear: right;
    text-align: left;
}

#range
{
/*    transform: rotate(270deg);*/
    height:50%;
    display: inline-block;
}

#sliderStuff
{
    text-align: center;
}


#showInfoPanel
{
    top: 329px;
    position: absolute;
}

.btn-cstm-info
{
    width: 194px;
    margin-top: .5%;
    background-color: #222222;
    color:  #2E8599;
    text-align: left;  
}

#forward 
{
    float: right;
}

#reverse 
{
    float: left;
}

#map 
{
    height: 1000px;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 6px;
    margin-right: 6px;
}

#infoPanel
{
    position: absolute;
    top: 118px;
    height: 230px; 
    text-align: left;
    z-index: 1; 
    left:207px;
    margin-right: .4%;
}


.infoPanelText
{
    height: 15px;
    color: #2E8599;
}

.panelText
{
    color: #2E8599;
    text-align: center;
}

#stopPropPanel
{
    position: relative;
    width: 206px;
    float: left;
    z-index: 1;
}

.panel 
{
    width: 200px;
    opacity: .85;
    background-color: #222222;
    border: solid 2px #2E8599;
    border-radius: 5px;
    padding: .25%;
    margin-bottom: 6px;
}

#legendPanel
{
  z-index: 1;
  position: absolute;
  left: 206px;
  margin-top: 372px;
  margin-right: .4%;
/*  background-color: #e0e1e0;*/ /*good color*/
  background-color: #F5F5F3;
  color: #000;
  border: solid 2px #3aa7c0;;
}

#legendHeader
{
  color: #3aa7c0;
  display: inline-block;
}

#legendClose
{
    margin-right: 2px;
}


.btn-cstm-button
{
    width: 99.5%;
    margin-top: .5%;
    background-color: #222222;
    color:  #2E8599;
    text-align: left;
}


.btn-cstm-button-deactivate
{
    width: 99.5%;
    margin-top: .5%;
    background-color: #c20112;
    color:  #2E8599;
    text-align: left;
}

.btn-cstm
{
    width: 75%;
    margin-top: .5%;
    background-color: #222222;
    color:  #2E8599;
    text-align: left;
}

.btn-cstm:hover
{
    background-color: #3F3F3F;
    border: solid 1px #373739;
    color: #16B4D8;
}

.btn-cstm-legend
{
    width: 23%;
    margin-top: .5%;
    background-color: #222222;
    color:  #2E8599;
    font-size: 12px;
}

/*.btn-cstm-legend:hover
{
    background-color: #3F3F3F;
    border: solid 1px #373739;
    color: #16B4D8;
}*/


.fa-lg
{
    font-size: 1.7em;
    line-height: 1em;
}


.btn.focus, .btn:focus, .btn:hover 
{
    background-color: #3F3F3F;
    border: solid 1px #16B4D8;
    color: #16B4D8;
}

.btn-cstm-legend.focus, .btn-cstm-legend:focus, .btn-cstm-legend:hover
{
    background-color: #3F3F3F;
    border: solid 1px #16B4D8;
    color: #16B4D8;
}


.info-label
{
    width: 100%;
    margin-top: .5%;
    background-color: #222222;
    color:  #2E8599;
    text-align: left;
}

.lineBreak
{
    border-top: 1px solid #373739;
    margin-bottom: 5px;
    margin-top: 5px;
}

.skip
{
    transform: rotate(270);
    background-color: black;
    border-color: black;
}

.panelText.head
{
    text-align: center;
    font-size: 130%;
    background-color: #191919;
    border: solid 1px #373739;
    color: #2E8599;
    border-radius: 3.5px;
    margin-bottom: .5%;
    box-shadow: 5px;
}

.modalHeadFoot
{
    background-color: #222222;
    border: #222222;
    color:  #2E8599;  
    border-radius: 2px; 
    opacity: 85%; 
}

button.close
{
    background-color: #222222;
    color:  #2E8599;
}
button.close:hover
{
    color:  #249EB2;
}
.close 
{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 0px 0 #222222;
    filter: alpha(opacity=20);
    opacity: .99;
}

.close:focus, .close:hover 
{
    background-color: #222222;
    color:  #2E8599;  
}

.leaflet-control-zoom
{
    position: relative;
    left: 197px;
}

.leaflet-control-zoom-in
{
    margin-top: 49px;
    border-right:solid 2px #2E8599 ;
    border-left:solid 2px #2E8599 ;
    border-top:solid 2px #2E8599; 
    display: inline-block;
    opacity: .85;
    box-shadow: none;
}

.leaflet-control-zoom-out
{
    border-right:solid 2px #2E8599 ;
    border-left:solid 2px #2E8599 ;
    border-top:solid 2px #2E8599;
    display: inline-block;
    opacity: .85;
    box-shadow: none;
}

.leaflet-bar
{
    box-shadow: none;
}

.leaflet-bar a:last-child
{
    border-bottom: solid 2px #2E8599;
}

.leaflet-bar a, .leaflet-bar a:hover
{
    background-color: #222222;
    color:  #2E8599;
    border-bottom: 1px solid #00CFFF;
}


.leaflet-bar a.leaflet-disabled 
{
    color: #222222;
    background-color: #222222;
}

.nav.navbar-nav.navbar-right a
{
    color: white;
}

.nav.navbar-nav.navbar-right a:hover
{
    color: black;
}

.navbar-nav
{
    margin: 0;
}

.container-fluid
{
    padding-left: 41%;
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
     clear: none;
     float: right; 
}

.leaflet-bottom
{
    opacity: 1%;
}

/*.legendSpacer 
{
  width: 3px;
}*/





/*#OPslide {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
#OPslide:focus {
  outline: none;
}
#OPslide::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#OPslide::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
#OPslide:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
#OPslide::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
#OPslide::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
#OPslide::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
#OPslide::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#OPslide::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#OPslide::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
#OPslide:focus::-ms-fill-lower {
  background: #3071a9;
}
#OPslide:focus::-ms-fill-upper {
  background: #367ebd;
}*/
